*.sh
*.py
*.bat
*.cmd
*.ps1
*.jpg
*.gif
*.png
*.svg
*.groovy
*.woff
*.woff2
*.eot
*.ttf
*.ico
*.txt
*.csv
*.jar
*.snap
*.hbs
*.js.map
*.properties
*.crt
*.key
*.lua
.*ignore
.devcontainer
.next
.github
.gitattributes
package*.json
Dockerfile*
.browserslistrc
node_modules
.pnpm-store
.turbo